{% extends 'base.html' %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   

    {% block head %}

    <style>

        @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap');

button:focus,
input:focus{
  outline: none;
  box-shadow: none;
}
a,
a:hover{
  text-decoration: none;
}

body{
  font-family: 'Nunito', sans-serif;
}

/*----------multiple-file-upload-----------*/
.file-upload-contain{
    position: relative;
    margin-bottom: 40px;
}
.file-upload-contain .file-input,
.file-upload-contain .file-preview{
    position: initial;
}
.file-upload-contain .file-drop-zone{
    border: 2px dashed #1e80e8;
    transition: 0.3s;
    margin: 0;
    padding: 0;
    border-radius: 20px;
    background-color: #f1f8fe;
    min-height: auto;
}
.file-upload-contain .file-drop-zone.clickable:hover,
.file-upload-contain .file-drop-zone.clickable:focus,
.file-upload-contain .file-highlighted{
    border: 2px dashed #1e80e8 !important;
    background-color: #dfedfc;
}
.upload-area i {
    color: #1e80e8;
    font-size: 50px;
}
.upload-area p {
    margin-bottom: 30px;
    margin-top: 30px;
    font-size: 20px;
    font-weight: 600;
    color: #2580e8;
}
.upload-area p b {
    color: #1e80e8;
}
.upload-area button {
    padding: 8px 16px;
    min-width: 150px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    background-color: #1e80e8;
    border: 2px solid #1e80e8;
    border-radius: 50px;
    transition: 0.3s;
}
.upload-area button:hover{
    background-color: #1e80e8;
    box-shadow: 0px 4px 8px rgb(37 128 232 / 48%);
}
.file-preview{
    padding: 0;
    border: none;
    margin-bottom: 30px;
}
.file-preview .fileinput-remove{
    display: none;
}
.file-drop-zone-title{
    padding: 55px 10px;
}
.file-drop-zone .file-preview-thumbnails{
    cursor: pointer;
}
.file-preview-frame{
    cursor: default;
    display: flex;
    align-items: center;
    border: none;
    background-color: #2580e8;
    box-shadow: none;
    border-radius: 8px;
    width: 100%;
    padding: 15px;
    margin: 8px 0px;
}
.file-preview-frame:not(.file-preview-error):hover{
    border: none;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 20%);
}
.file-preview-frame .kv-file-content{
    min-width: 45px;
    min-height: 45px;
    width: 45px;
    height: 45px;
    border-radius: 4px;
    margin-right: 10px;
    background-color: #fff;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.file-preview-image {
    border-radius: 4px;
}
.file-preview-frame .file-footer-caption{
    padding-top: 0;
}
.file-preview-frame .file-footer-caption{
    text-align: left;
    margin-bottom: 0;
}
.file-detail{
    font-size: 14px;
    height: auto;
    width: 100%;
    line-height: initial;
}
.file-detail .file-caption-name{
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 6px;
}
.file-detail .file-size{
    color: #f1f8fe;
    font-size: 12px;
}
.kv-zoom-cache {
    display: none;
}
.file-preview-frame .file-thumbnail-footer{
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.file-preview-frame .file-drag-handle, 
.file-preview-frame .file-upload-indicator{
    float: none;
}
.file-preview-frame .file-footer-buttons{
    float: none;
    display: flex;
    align-items: center;
}
.file-preview-status.text-center {
    display: none;
}
.kv-file-remove.file-remove {
    border: none;
    background-color: #ef2f2f;
    color: #fff;
    width: 25px;
    height: 25px;
    font-size: 12px;
    border-radius: 4px;
    margin: 0px 4px;
}
.file-drag-handle.file-drag {
    border: none;
    background-color: #fff;
    color: #2580e8;
    width: 25px;
    height: 25px;
    font-size: 12px;
    border-radius: 4px;
    margin: 0px 4px;
}
.kv-file-upload.file-upload{
    border: none;
    background-color: #48bd22;
    color: #fff;
    width: 25px;
    height: 25px;
    font-size: 12px;
    border-radius: 4px;
    margin: 0px 4px;
}
.file-thumb-loading{
    background: none !important; 
}
.file-preview-frame.sortable-chosen {
    background-color: #64a5ef;
    border-color: #64a5ef;
    box-shadow: none!important;
}


    </style>

    
<style>


    .loader {
        border: 16px solid #f3f3f3; /* Light grey */
        border-top: 16px solid #3498db; /* Blue */
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: spin 2s linear infinite;
        position : absolute;
        top: 38%;
        left: 28%;
        display : none;
      }
      
      @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }
      
      

              
.btn-grad2 {
    background-image: linear-gradient(to right, #7b4397 0%, #dc2430  51%, #7b4397  100%);
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
  }

  .btn-grad2:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }

           
  .btn-grad1 {
    background-image: linear-gradient(to right, #43cea2 0%, #185a9d  51%, #43cea2  100%);
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
  }

  .btn-grad1:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
 



</style>





{% endblock head %}


{% block heading %}    Admin Dashbaord
{% endblock heading %}







{% block content %}

<div class="loader" id="loader"></div>

<a href="{% url 'all_generate_card' %}"> All Images 
<a href="{% url 'dashboard' %}"> dashabord </a>




  <div class="buttons" style="display:flex">
    <a href="{% url 'all_generate_card' %}">  <button class="btncustome-hover btn-grad1">Invitations</button>
    </a>
  </div>


    
  <h3 style="color : #30bb9e;color: #30bb9e;
  font-size: 14px;
  font-weight: bolder;"> General </h3>



    <div class="container" class="col-12" style="margin-top : 10px;">
    
        <div class="row">

            <div class="col-6" style="padding: 7px;">
                <img id="myImg" class="form-control" src="/static/generated_cards/{{ request.user.phone }}.jpg">
    
        
            </div>

            
            <div class="col-6" style="padding: 7px;">
                <img id="myImg" class="form-control" src="/static/generated_cards/{{ request.user.phone }}.jpg">
    
        
            </div>


            <div class="col-6" style="padding: 7px;">
                <img id="myImg" class="form-control" src="/static/generated_cards/{{ request.user.phone }}.jpg">
    
        
            </div>


            <div class="col-6" style="padding: 7px;">
                <img id="myImg" class="form-control" src="/static/generated_cards/{{ request.user.phone }}.jpg">
    
        
            </div>


            <div class="col-6" style="padding: 7px;">
                <img id="myImg" class="form-control" src="/static/generated_cards/{{ request.user.phone }}.jpg">
    
        
            </div>


            <div class="col-6" style="padding: 7px;">
                <img id="myImg" class="form-control" src="/static/generated_cards/{{ request.user.phone }}.jpg">
    
        
            </div>


            <div class="col-6" style="padding: 7px;">
                <img id="myImg" class="form-control" src="/static/generated_cards/{{ request.user.phone }}.jpg">
    
        
            </div>


            <div class="col-6" style="padding: 7px;">
                <img id="myImg" class="form-control" src="/static/generated_cards/{{ request.user.phone }}.jpg">
    
        
            </div>


            <div class="col-6" style="padding: 7px;">
                <img id="myImg" class="form-control" src="/static/generated_cards/{{ request.user.phone }}.jpg">
    
        
            </div>


            <div class="col-6" style="padding: 7px;">
                <img id="myImg" class="form-control" src="/static/generated_cards/{{ request.user.phone }}.jpg">
    
        
            </div>


            <div class="col-6" style="padding: 7px;">
                <img id="myImg" class="form-control" src="/static/generated_cards/{{ request.user.phone }}.jpg">
    
        
            </div>

        </div>

    </div>
    
  <h3 style="color : #30bb9e;color: #30bb9e;
  font-size: 14px;
  font-weight: bolder;"> Festival </h3>


  <div class="container" class="col-12" style="margin-top : 10px;">
    
    <div class="row">

        <div class="col-6" style="padding: 7px;">
            <img id="myImg" class="form-control" src="/static/generated_cards/{{ request.user.phone }}.jpg">

    
        </div>

        
        <div class="col-6" style="padding: 7px;">
            <img id="myImg" class="form-control" src="/static/generated_cards/{{ request.user.phone }}.jpg">

    
        </div>


        <div class="col-6" style="padding: 7px;">
            <img id="myImg" class="form-control" src="/static/generated_cards/{{ request.user.phone }}.jpg">

    
        </div>


        <div class="col-6" style="padding: 7px;">
            <img id="myImg" class="form-control" src="/static/generated_cards/{{ request.user.phone }}.jpg">

    
        </div>


        <div class="col-6" style="padding: 7px;">
            <img id="myImg" class="form-control" src="/static/generated_cards/{{ request.user.phone }}.jpg">

    
        </div>


        <div class="col-6" style="padding: 7px;">
            <img id="myImg" class="form-control" src="/static/generated_cards/{{ request.user.phone }}.jpg">

    
        </div>


        <div class="col-6" style="padding: 7px;">
            <img id="myImg" class="form-control" src="/static/generated_cards/{{ request.user.phone }}.jpg">

    
        </div>


        <div class="col-6" style="padding: 7px;">
            <img id="myImg" class="form-control" src="/static/generated_cards/{{ request.user.phone }}.jpg">

    
        </div>


        <div class="col-6" style="padding: 7px;">
            <img id="myImg" class="form-control" src="/static/generated_cards/{{ request.user.phone }}.jpg">

    
        </div>


        <div class="col-6" style="padding: 7px;">
            <img id="myImg" class="form-control" src="/static/generated_cards/{{ request.user.phone }}.jpg">

    
        </div>


        <div class="col-6" style="padding: 7px;">
            <img id="myImg" class="form-control" src="/static/generated_cards/{{ request.user.phone }}.jpg">

    
        </div>

    </div>

</div>

    
  <h3 style="color : #30bb9e;color: #30bb9e;
  font-size: 14px;
  font-weight: bolder;"> Birthday </h3>


  <div class="container" class="col-12" style="margin-top : 10px;">
    
    <div class="row">

        <div class="col-6" style="padding: 7px;">
            <img id="myImg" class="form-control" src="/static/generated_cards/{{ request.user.phone }}.jpg">

    
        </div>

        
        <div class="col-6" style="padding: 7px;">
            <img id="myImg" class="form-control" src="/static/generated_cards/{{ request.user.phone }}.jpg">

    
        </div>


        <div class="col-6" style="padding: 7px;">
            <img id="myImg" class="form-control" src="/static/generated_cards/{{ request.user.phone }}.jpg">

    
        </div>


        <div class="col-6" style="padding: 7px;">
            <img id="myImg" class="form-control" src="/static/generated_cards/{{ request.user.phone }}.jpg">

    
        </div>


        <div class="col-6" style="padding: 7px;">
            <img id="myImg" class="form-control" src="/static/generated_cards/{{ request.user.phone }}.jpg">

    
        </div>


        <div class="col-6" style="padding: 7px;">
            <img id="myImg" class="form-control" src="/static/generated_cards/{{ request.user.phone }}.jpg">

    
        </div>


        <div class="col-6" style="padding: 7px;">
            <img id="myImg" class="form-control" src="/static/generated_cards/{{ request.user.phone }}.jpg">

    
        </div>


        <div class="col-6" style="padding: 7px;">
            <img id="myImg" class="form-control" src="/static/generated_cards/{{ request.user.phone }}.jpg">

    
        </div>


        <div class="col-6" style="padding: 7px;">
            <img id="myImg" class="form-control" src="/static/generated_cards/{{ request.user.phone }}.jpg">

    
        </div>


        <div class="col-6" style="padding: 7px;">
            <img id="myImg" class="form-control" src="/static/generated_cards/{{ request.user.phone }}.jpg">

    
        </div>


        <div class="col-6" style="padding: 7px;">
            <img id="myImg" class="form-control" src="/static/generated_cards/{{ request.user.phone }}.jpg">

    
        </div>

    </div>

</div>

    
  <h3 style="color : #30bb9e;color: #30bb9e;
  font-size: 14px;
  font-weight: bolder;"> Invitations </h3>





  <div class="container" class="col-12" style="margin-top : 10px;">
    
    <div class="row">

        <div class="col-6" style="padding: 7px;">
            <img id="myImg" class="form-control" src="/static/generated_cards/{{ request.user.phone }}.jpg">

    
        </div>

        
        <div class="col-6" style="padding: 7px;">
            <img id="myImg" class="form-control" src="/static/generated_cards/{{ request.user.phone }}.jpg">

    
        </div>


        <div class="col-6" style="padding: 7px;">
            <img id="myImg" class="form-control" src="/static/generated_cards/{{ request.user.phone }}.jpg">

    
        </div>


        <div class="col-6" style="padding: 7px;">
            <img id="myImg" class="form-control" src="/static/generated_cards/{{ request.user.phone }}.jpg">

    
        </div>


        <div class="col-6" style="padding: 7px;">
            <img id="myImg" class="form-control" src="/static/generated_cards/{{ request.user.phone }}.jpg">

    
        </div>


        <div class="col-6" style="padding: 7px;">
            <img id="myImg" class="form-control" src="/static/generated_cards/{{ request.user.phone }}.jpg">

    
        </div>


        <div class="col-6" style="padding: 7px;">
            <img id="myImg" class="form-control" src="/static/generated_cards/{{ request.user.phone }}.jpg">

    
        </div>


        <div class="col-6" style="padding: 7px;">
            <img id="myImg" class="form-control" src="/static/generated_cards/{{ request.user.phone }}.jpg">

    
        </div>


        <div class="col-6" style="padding: 7px;">
            <img id="myImg" class="form-control" src="/static/generated_cards/{{ request.user.phone }}.jpg">

    
        </div>


        <div class="col-6" style="padding: 7px;">
            <img id="myImg" class="form-control" src="/static/generated_cards/{{ request.user.phone }}.jpg">

    
        </div>


        <div class="col-6" style="padding: 7px;">
            <img id="myImg" class="form-control" src="/static/generated_cards/{{ request.user.phone }}.jpg">

    
        </div>

    </div>

</div>






    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  
    {% endblock content %}


    {% block js %}

    <script>

        

        $(document).ready(function(){
            $("#myform").on("submit", function(){
                element = document.getElementById("submit_button")
                    document.getElementById("loader").style.display = "block"
                element.disabled = true;
            });//submit
          });//do

        
        </script>

    {% endblock js %}